.alexcircle{
    height: 200px;
    width: 200px;
}
.json_img{
    height: 150px;
    width: 150px;
}
.typesript_img{
    height: 150px;
    width: 150px;

}
.js_img{
    height: 150px;
    width: 150px;
}
.rjs_img{
    height: 150px;
    width: 150px;
}
.linkedin_img{
    height: 50px;
    width: 50px;
}
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;}
.top_container {
    background-color: #0C056D;
    position: relative;
    padding-top: 100px;
}
.middle_container{
    background-color: #590D82;
    padding-top: 60px;
    padding-bottom: 100px;

}
.bottom_container{
    background-color: #B61AAE;
}
h1 {
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    color: #F25D9C;

}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #F25D9C;
    font-weight: normal;
    line-height: 2;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #F25D9C;
}
a{
    color: #11999E;
}
.top_cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom_cloud{
     position: absolute;
    left: 300px;
    bottom:300px;
 }
p{
    font-family: 'Montserrat', sans-serif;
    color: #F25D9C;
}
